.a{
    font-family: 'Bad Script', cursive;
}

p{
    text-align: left;
    text-indent: 25px;    
}

h3{
    font-family:'Bad Script', cursive; 
}
h3{
    text-decoration: underline;
}
header{
    text-align: right;
}